@font-face {
  font-family: 'NanumSquare';
  src: url(../fonts/Nanumsquare_ac_TTF/NanumSquare_acR.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'NanumSquare';
  height: 100%;
}

header {
  background: url(../img/keyboard.jpg) no-repeat center/cover;
  width: 100%;
  height: 80vh;
  position: relative;
}

@media (min-width: 768px) {
  header {
    height: 90vh;
  }
}

@media (min-width: 1024px) {
  header {
    height: 100vh;
  }
}

header .scroll_down {
  background: url(../img/scroll_down.gif) no-repeat center/contain;
  width: 150px;
  height: 70px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px;
  opacity: 0;
}

@media (min-width: 768px) {
  header .scroll_down {
    opacity: 0.5;
  }
}

header .header_content {
  width: 80%;
  height: 60%;
  word-break: keep-all;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  line-height: 35px;
}

@media (min-width: 768px) {
  header .header_content {
    width: 90%;
    height: 40%;
  }
}

@media (min-width: 1024px) {
  header .header_content {
    width: 90%;
    height: 20%;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  header .header_content {
    width: 90%;
    height: 20%;
    text-align: left;
  }
}

@media (min-width: 2560px) {
  header .header_content {
    width: 70%;
    line-height: 52.5px;
  }
}

header .header_content .content_1 {
  font-size: 28px;
  font-weight: 600;
  padding: 20px;
}

@media (min-width: 1024px) {
  header .header_content .content_1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 1%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 2560px) {
  header .header_content .content_1 {
    font-size: 42px;
  }
}

header .header_content .content_1 span {
  font-size: 35px;
}

@media (min-width: 2560px) {
  header .header_content .content_1 span {
    font-size: 52.5px;
  }
}

header .header_content .content_1 span b {
  color: red;
}

header .header_content .logo {
  background: url(../img/logo_white.png) no-repeat center/contain;
  width: 196px;
  height: 86px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  header .header_content .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 2560px) {
  header .header_content .logo {
    width: 294px;
    height: 129px;
  }
}

header .header_content .content_2 {
  font-size: 28px;
  font-weight: 600;
  padding: 25px;
}

@media (min-width: 1024px) {
  header .header_content .content_2 {
    color: white;
    position: absolute;
    top: 50%;
    right: 1%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 2560px) {
  header .header_content .content_2 {
    font-size: 42px;
  }
}

header .header_content .content_2 span {
  color: #f24a4d;
}

section.intro {
  width: 100%;
  position: relative;
}

@media (min-width: 1024px) {
  section.intro {
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 2560px) {
  section.intro {
    width: 60%;
  }
}

section.intro .intro_box {
  font-size: 25px;
  word-break: keep-all;
  padding: 40px 0;
  line-height: 40px;
  text-align: center;
}

@media (min-width: 1024px) {
  section.intro .intro_box {
    font-size: 35px;
    text-align: left;
    line-height: 50px;
    padding: 60px 0;
  }
}

@media (min-width: 2560px) {
  section.intro .intro_box {
    font-size: 40px;
    text-align: left;
    line-height: 55px;
    padding: 60px 0;
  }
}

section.intro .intro_box span {
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  section.intro .intro_box span {
    font-size: 40px;
  }
}

@media (min-width: 2560px) {
  section.intro .intro_box span {
    font-size: 50px;
  }
}

section.process {
  width: 100%;
  position: relative;
  background-color: #f4f4f4;
  padding-top: 100px;
}

@media (min-width: 1440px) {
  section.process {
    padding: 120px 0;
  }
}

section.process h3 {
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 15px;
  position: absolute;
  left: 50%;
  top: 2%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  section.process h3 {
    font-size: 1.5em;
    top: 4%;
  }
}

@media (min-width: 1440px) {
  section.process h3 {
    top: 10%;
  }
}

@media (min-width: 2560px) {
  section.process h3 {
    font-size: 1.8em;
    top: 6%;
  }
}

section.process .process_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 300px 300px 300px 300px;
      grid-template-rows: 300px 300px 300px 300px;
  justify-items: center;
}

@media (min-width: 768px) {
  section.process .process_box {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 300px 300px;
        grid-template-rows: 300px 300px;
    place-items: center;
  }
}

@media (min-width: 1024px) {
  section.process .process_box {
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 300px;
        grid-template-rows: 300px;
  }
}

@media (min-width: 1440px) {
  section.process .process_box {
    margin: 0 10%;
    padding-top: 50px;
  }
}

@media (min-width: 2560px) {
  section.process .process_box {
    margin: 0 20%;
  }
}

section.process .process_box li {
  list-style: none;
}

section.process .process_box li:after {
  content: url(../img/bottom.png);
  position: relative;
  left: 35%;
  top: 5%;
}

@media (min-width: 768px) {
  section.process .process_box li:after {
    content: url(../img/next.png);
    left: 130%;
    top: -150px;
  }
}

@media (min-width: 1024px) {
  section.process .process_box li:after {
    left: 110%;
  }
}

@media (min-width: 1440px) {
  section.process .process_box li:after {
    left: 140%;
  }
}

section.process .process_box li:last-child:after {
  opacity: 0;
}

section.process .process_box p {
  font-size: 20px;
  text-align: center;
  padding: 8px;
}

@media (min-width: 2560px) {
  section.process .process_box p {
    font-size: 25px;
  }
}

section.case {
  width: 100%;
  position: relative;
  word-break: keep-all;
}

section.case h1 {
  text-align: center;
  padding: 60px 60px 40px 60px;
  line-height: 30px;
}

@media (min-width: 2560px) {
  section.case h1 {
    font-size: 30px;
  }
}

section.case .case_box {
  background: url(../img/sky_banner.jpg) no-repeat center top/cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

@media (min-width: 1440px) {
  section.case .case_box {
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 2560px) {
  section.case .case_box {
    width: 60%;
    margin-left: 20%;
  }
}

section.case .case_box .case_content {
  background-color: #f4f4f4;
  width: 90%;
  height: 200px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50px);
          transform: translate(-50%, 50px);
}

@media (min-width: 1440px) {
  section.case .case_box .case_content {
    width: 50%;
  }
}

@media (min-width: 2560px) {
  section.case .case_box .case_content {
    width: 40%;
  }
}

section.case .case_box .case_content p {
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

section.case .case_box .case_content p:first-child {
  margin-top: 35px;
}

@media (min-width: 1440px) {
  section.case .case_box .case_content p {
    font-size: 23px;
  }
}

section.case .case_box .case_content p span {
  color: #f24a4d;
  font-weight: 600;
  font-size: 23px;
}

@media (min-width: 1440px) {
  section.case .case_box .case_content p span {
    font-size: 28px;
  }
}

section.faq {
  width: 95%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  word-break: keep-all;
}

section.faq h1 {
  text-align: center;
  padding: 60px 60px 5px 60px;
}

@media (min-width: 2560px) {
  section.faq h1 {
    font-size: 30px;
  }
}

section.faq > p {
  color: grey;
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}

section.faq .faq_box {
  width: 100%;
  line-height: 25px;
}

@media (min-width: 1440px) {
  section.faq .faq_box {
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 2560px) {
  section.faq .faq_box {
    width: 60%;
    margin-left: 20%;
  }
}

section.faq .faq_box .question span {
  border-top: 1.5px solid lightgrey;
  display: block;
  font-weight: 600;
  padding: 20px 10px;
  cursor: pointer;
}

section.faq .faq_box .question p {
  padding: 30px 15px;
  background-color: rgba(244, 244, 244, 0.5);
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section.faq .faq_box .question p.dis_none {
  height: 0;
  opacity: 0;
  padding: 0 0;
}

section.ask {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 100px 0;
}

@media (min-width: 1440px) {
  section.ask {
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 2560px) {
  section.ask {
    width: 60%;
    margin-left: 20%;
  }
}

section.ask fieldset {
  border: none;
}

section.ask fieldset input[type=text] {
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  section.ask fieldset input[type=text] {
    width: 48%;
    display: block;
    float: left;
    margin-right: 2%;
  }
}

section.ask .ask_intro {
  border: 1px solid grey;
  width: 95%;
  margin: 20px auto;
  word-break: keep-all;
  padding: 20px 0;
}

@media (min-width: 1024px) {
  section.ask .ask_intro {
    float: left;
    width: 46%;
    height: 250px;
    margin: 0 2%;
    position: relative;
  }
}

section.ask .ask_intro .ask_1 {
  width: 50%;
  padding-bottom: 30px;
  margin: 0 auto;
  line-height: 30px;
}

@media (min-width: 768px) {
  section.ask .ask_intro .ask_1 {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  section.ask .ask_intro .ask_1 {
    width: 35%;
    float: left;
    padding-bottom: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

section.ask .ask_intro .ask_1 h2 {
  text-align: center;
}

section.ask .ask_intro .ask_2 {
  padding-left: 10px;
  text-align: center;
}

@media (min-width: 1024px) {
  section.ask .ask_intro .ask_2 {
    float: right;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

section.ask .ask_intro .ask_2 span {
  font-size: 13px;
  color: grey;
}

section.ask .ask_intro .ask_2 p {
  font-size: 13px;
  padding-bottom: 5px;
}

section.ask .ask_content {
  width: 95%;
  margin: 30px auto;
}

section.ask .ask_content textarea {
  width: 96%;
  height: 150px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
}

section.ask .ask_content input[type=submit] {
  display: block;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  color: white;
  padding: 10px 30px;
  margin: 30px auto;
  background-color: #f24a4d;
  cursor: pointer;
}

@media (min-width: 1024px) {
  section.ask .ask_content input[type=submit] {
    margin-top: 60px;
  }
}

footer {
  width: 100%;
  position: relative;
  background-color: #f4f4f4;
  word-break: keep-all;
  padding: 25% 0;
}

@media (min-width: 768px) {
  footer {
    padding: 15% 0;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 10% 0;
  }
}

@media (min-width: 2560px) {
  footer {
    padding: 5% 0;
  }
}

footer .footer_box {
  width: 95%;
  margin-left: 2.5%;
}

@media (min-width: 1440px) {
  footer .footer_box {
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 2560px) {
  footer .footer_box {
    width: 60%;
    margin-left: 20%;
  }
}

footer h4 {
  margin-bottom: 50px;
}

footer p {
  font-size: 13px;
  line-height: 20px;
}
/*# sourceMappingURL=style.css.map */