// Break Point
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// Mixins
@mixin tablet {
	@media (min-width: #{$tablet}){
		@content;
	}
}

@mixin laptop {
	@media (min-width: #{$laptop}){
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop}){
		@content;
	}
}

@font-face {
	font-family: 'NanumSquare';
	src: url(../fonts/Nanumsquare_ac_TTF/NanumSquare_acR.ttf) format('truetype');
}

// color
$mainColor: #f24a4d;
$greyColor: #f4f4f4;

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'NanumSquare';
}

header {
	background: url(../img/keyboard.jpg) no-repeat center / cover;
	width: 100%;  height: 80vh;
	position: relative;

	@include tablet {
		height: 90vh;
	}

	@include laptop {
		height: 100vh;
	}

	@include desktop {
		
	}

	.scroll_down {
		background: url(../img/scroll_down.gif) no-repeat center / contain;
		width: 150px;  height: 70px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
		opacity: 0;

		@include tablet {
			opacity: 0.5;
		}
	}

	.header_content {
		width: 80%;  height: 60%;
		word-break: keep-all;
		position: absolute;
		top: 55%;  left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		line-height: 35px;

		@include tablet {
			width: 90%;  height: 40%;
		}
		@include laptop {
			width: 90%;  height: 20%;
			text-align: left;
		}

		.content_1 {
			font-size: 28px;
			font-weight: 600;
			padding: 20px;

			@include laptop {
				float: left;
				margin: 15px 25px 15px 0;
				color: white;
			}
			
			span {
				font-size: 35px;

				b {
					color: red;
				}
			}
		}

		.logo {
			background: url(../img/logo_white.png) no-repeat center / contain;
			width: 196px;  height: 86px;
			margin: 0 auto;

			@include laptop {
				position: absolute;
				top: 50%;  left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.content_2 {
			font-size: 28px;
			font-weight: 600;
			padding: 25px;

			@include laptop {
				float: right;
				margin: 33px 0 0 20px;
				padding: 20px;
				color: white;
			}

			span {
				color: #{$mainColor};
			}
		}
	}
}

section.intro {
	width: 100%;
	position: relative;

	@include laptop {
		width: 80%;
		left: 50%;
		transform: translateX(-50%);
	}

	.intro_box {
		border: 1px solid red;
		font-size: 25px;
		word-break: keep-all;
		padding: 40px 0;
		line-height: 40px;
		text-align: center;

		@include laptop {
			font-size: 35px;
			text-align: left;
			padding: 60px 0;
		}

		span {
			font-size: 30px;
			font-weight: 600;
			text-decoration: underline;

			@include laptop {
				font-size: 40px;
			}
		}
	}
}

section.process {
	width: 100%;
	position: relative;
	background-color: #{$greyColor};

	h3 {
		background-color: white;
		border-radius: 20px;
		display: inline-block;
		padding: 5px 15px;
		position: absolute;
		left: 50%;  top: 2%;
		transform: translateX(-50%);
	}

	.process_box {
		display: grid;
		grid-template-columns: 200px;
		grid-template-rows: 200px 200px 200px 200px;
		margin: 0 auto;
	}
}

